 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
 /*font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif;*/
 *{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }
 body{
     padding: 1.25rem;
     align-items: center;
     background-color: hsl(233, 47%, 7%);
     color: hsl(0, 0%, 100%);
     font-size: 15px;
     padding-top: 100px;
 }
 .container{
     width: 1080px;
     margin: 0 auto;
    display: -ms-grid;
     display: grid;
     grid-template-columns: 1fr 1fr;
 }
.principal{
    background-color: hsl(244, 38%, 16%);
    height: 446px;
    width: 540px;  
    border-radius: 0.5rem 0 0 0.5rem ;  
    padding: 15%;
}
.principal h1{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 700;
    font-size: 32px;

    
}
.principal span{
    color: hsl(277, 64%, 61%);
}

.paragraph{
    line-height: 1.5rem;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    font-weight:400 ;
    margin-top: 2rem;
}

.lista{
    list-style: none;
    display: flex;
    margin-top: 5rem;
     display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: 1rem;
}

.first{
     font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 20px;
}

.second{
        font-family: 'Lexend Deca', sans-serif;;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    font-weight:400 ;
    text-transform: uppercase;
  
}
.component-image{
    position: relative;
}

.component-image img{
    border-radius:  0 0.5rem 0.5rem 0;
}


.component-image::after{
    position: absolute;
    content: '';
    height: 446px;
    width: 540px;
    left: 0;
    top: 0;
    background-color: hsl(277, 64%, 61%, 60%);
    border-radius:  0 0.5rem 0.5rem 0;
}



 .attribution { font-size: 11px; text-align: center; }
 .attribution a { color: hsl(228, 45%, 44%); }